.CodeMirror {
  border: 1px solid #DCDCDC;
  display: inline-block;
}

.CodeMirror-focused {
  border: 2px solid #6495ED;
}

.cm-s-neo .CodeMirror-linenumber {
  padding: 0;
  color: #808080;
}

.cm-s-neo .CodeMirror-gutters {
  border: none;
  border-right: 10px solid transparent;
  background-color: #F8F8F8;
}

.form-container {
  margin: 0 auto;
  max-width: 95%;
  flex-grow: 1;
  background: white;
  border-radius: 4px;
  display: flex;
  height: 50vh;
  flex-direction: column;
}

.diff-form {
  position: relative;
}

/* #left-editor, #right-editor {
  width: calc(50% - 64px);
} */

#left-editor {
  float: left;
}

#right-editor {
  float: right;
}